<ion-header>
    <ion-navbar>
        <ion-title>
            Gamepoch电竞助手
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <div id="nba2klogo-wrapper">
        <img src="http://nba2k18.gamepoch.com/img/logo.png">
    </div> -->
    <!-- <ion-list no-lines>
        <ion-item>
            <ion-label>
                <ion-icon ios="ios-megaphone" md="md-megaphone"></ion-icon>
                比赛赛事
            </ion-label>
            <ion-select>
                <ion-option *ngFor="let tour of matches" value="{{tour.name}}">{{tour.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
                场地
            </ion-label>
            <ion-select>
                <ion-option value="nes">人民广场</ion-option>
                <ion-option value="n64">外滩</ion-option>
                <ion-option value="ps">环球港</ion-option>
                <ion-option value="genesis">梅赛德斯奔驰中心</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                日期
            </ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="event.month"></ion-datetime>
        </ion-item>
    </ion-list> -->

    <ion-card *ngFor="let tour of tours" (click)="onSelectTour(tour)">
        <img src="{{tour.coverImg}}" style="width:100%" />
        <ion-card-content>
            <ion-card-title>
                {{tour.name}}
                <small text-right style="float:right; margin-top: 5px">{{tour.time}}</small>
            </ion-card-title>
            <!-- <p>
                {{tour.desc}}
            </p> -->
        </ion-card-content>
        <ion-row class="row" no-padding="">
            <ion-col class="col" text-left="">
                <button clear="" color="danger" icon-start="" ion-button="" small="" class="disable-hover button button-ios button-clear button-clear-ios button-small button-small-ios button-clear-ios-danger"><span class="button-inner">
                  <ion-icon ios="ios-pin" md="md-pin"></ion-icon>
                  {{tour.location}}
              </span><div class="button-effect"></div></button>
            </ion-col>
            <ion-col class="col" text-right="">
                <button clear="" color="danger" icon-start="" ion-button="" small="" class="disable-hover button button-ios button-clear button-clear-ios button-small button-small-ios button-clear-ios-danger"><span class="button-inner">
                  <ion-icon ios="ios-pulse" md="md-pulse"></ion-icon>
                  {{tour.status}}
              </span><div class="button-effect"></div></button>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-grid>
        <!-- <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-10>
                <button block ion-button icon-right >下一步<ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon></button>
            </ion-col>
            <ion-col col-1></ion-col>
        </ion-row> -->
    </ion-grid>
</ion-content>
